<!DOCTYPE html>
<html>
    <head>
        <title>Authorized</title>
    </head>
    <body>
        <p>Authorizing... Please wait.</p>

        <script>
            const payload = {
                status: "success",
                // studentData: "<%= studentDataStr %>",
            };

            const thirdPartyOrigin = new URL("<%= frontendRedirect %>").origin;

            // Send message to parent window

            // window.location.href = "<%= frontendRedirect %>";
            // Optional: redirect the popup instead of closing
            setTimeout(() => {
                if (window.opener) {
                    window.opener.postMessage(payload, thirdPartyOrigin);
                }
                window.close();
            }, 1000);
        </script>
    </body>
</html>
